<div class="divHome">
  <img
    src="https://cdn.tink.nl/cdn/149761/media/wysiwyg/brand/nuki/Nuki_Header_Desktop_1280x440.jpg"
    alt="Nuki Smart Lock in wit op de deur"
    fetchpriority="high"
  />
  <h1 class="brand_page_header">
    Nooit meer sleutels zoeken, zeg hallo tegen Nuki Deursloten
  </h1>

  <p>
    Nuki is de specialist op het gebied van elektronische deursloten. Het slimme
    slot van het Oostenrijkse bedrijf is een van de meest bekende
    vergrendelingssystemen op de markt en maakt je dagelijks leven een stuk
    gemakkelijker. Nuki scoort met bijzonder eenvoudige installatie,
    geavanceerde accessoires en veilige gegevensoverdracht. Met Nuki laat je
    alleen mensen in je huis toe die daar toestemming voor hebben.
  </p>
  <div></div>
</div>
